<div class="container" ng-controller="PersonalProfileController">
    <h3>
        Meet {{currentUser.name}} <br />
        <small>Joined Roomie <time am-time-ago="profile.created_at" title="{{ profile.created_at | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></time>
        </small>
    </h3>

    <!-- PERSONAL PROFILE INFORMATION -->
    <div class="panel-group" style="margin-top: 40px">
        <form editable-form name="profileForm">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="display: inline-block">Personal Information</h4>

                    <span class="buttons" style="float: right; margin-right: 10px;">
                        <!-- button to show form -->
                        <button type="button" class="btn btn-default" ng-click="profileForm.$show()" ng-show="!profileForm.$visible">
                            <i class="fa fa-pencil fw"></i>
                            Edit
                        </button>
                    </span>
                </div>

                <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-4">
                                <i class="flaticon-user168"></i>
                                <!-- editable field -->
                                <label for="first_name" class="title">First name: </label>
                                <span id="first_name" editable-text="profile.first_name" ng-show="!profileForm.$visible" e-name="first_name">{{ profile.first_name || '--unknown--' }}</span>
                            </div>
                            <div class="col-sm-4">
                                <i class="flaticon-college1"></i>
                                <!-- editable field -->
                                <label for="education" class="title">Education: </label>
                                <span id="education" editable-text="profile.education" ng-show="!profileForm.$visible" e-name="education">{{ profile.education || '--unknown--' }}</span>
                            </div>
                            <div class="col-sm-4">
                                <i class="flaticon-home78"></i>
                                <!-- editable field -->
                                <label for="hometown" class="title">Hometown: </label>
                                <span id="hometown" editable-text="profile.hometown" ng-show="!profileForm.$visible" e-name="hometown">{{ profile.hometown || '--unknown--' }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <i class="flaticon-user168"></i>
                                <!-- editable field -->
                                <label for="last_name" class="title">Last name: </label>
                                <span id="last_name" editable-text="profile.last_name" ng-show="!profileForm.$visible" e-name="last_name">{{ profile.last_name || '--unknown--' }}</span>
                            </div>
                            <div class="col-sm-4">
                                <i class="flaticon-career1"></i>
                                <!-- editable field -->
                                <label for="occupation" class="title">Occupation: </label>
                                <span id="occupation" editable-text="profile.occupation" ng-show="!profileForm.$visible" e-name="occupation">{{ profile.occupation || '--unknown--' }}</span>
                            </div>
                            <div class="col-sm-4">
                                <i class="flaticon-location54"></i>
                                <!-- editable field -->
                                <label for="location" class="title">Location: </label>
                                <span id="location" editable-text="profile.location" ng-show="!profileForm.$visible" e-name="location">{{ profile.location || '--unknown--' }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <i class="flaticon-united8"></i>
                                <!-- editable field -->
                                <label style="margin-left: 3px" for="gender" class="title">Gender: </label>
                                <span id="gender" editable-select="profile.gender" ng-show="!profileForm.$visible" e-name="gender" e-ng-options="s.value as s.text for s in sexes">{{ showGender(profile) }}</span>
                            </div>
                            <div class="col-sm-4">
                                <i class="flaticon-archive135"></i>
                                <!-- editable field -->
                                <label for="workplace" class="title">Workplace: </label>
                                <span id="workplace" editable-text="profile.workplace" ng-show="!profileForm.$visible" e-name="workplace">{{ profile.workplace || '--unknown--' }}</span>
                            </div>
                            <div class="col-sm-4">
                                <i class="flaticon-heart288"></i>
                                <!-- editable field -->
                                <label for="relationship_status" class="title">Relationship status: </label>
                                <span id="relationship_status" editable-text="profile.relationship_status" ng-show="!profileForm.$visible" e-name="relationship_status">{{ profile.relationship_status || '--unknown--' }}</span>
                            </div>
                        </div>

                        <div class="panel-footer" style="margin-top: 20px;">
                            <div class="row">
                                <div class="col-sm-2">More about me!</div>
                                <div class="col-sm-8">
                                    <!-- editable field -->
                                    <span id="description" editable-textarea="profile.description" e-rows="7" e-cols="40" ng-show="!profileForm.$visible" e-name="description">{{ profile.description || '--unknown--' }}</span>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                        </div>

                        <div class="buttons" style="margin-top: 20px;">
                            <!-- buttons to submit / cancel form -->
                            <span ng-show="profileForm.$visible">
                                <button type="submit" class="btn btn-primary" ng-disabled="profileForm.$waiting">
                                    Save
                                </button>
                                <button type="button" class="btn btn-default" ng-disabled="profileForm.$waiting" ng-click="profileForm.$cancel()">
                                    Cancel
                                </button>
                            </span>
                        </div>

                </div>
            </div>
        </form>
    </div>
</div>