
<!-- PERSONAL PROFILE INFORMATION -->
<div class="container" ng-controller="PersonalProfileController">
    <img ng-src="images/default-male.png" ng-show="profile.gender == 'Male'" style="float: left; margin-right: 15px; border: 2px solid black" class="img-circle" alt="Profile image" width="100" height="100">
    <img ng-src="images/default-female.png" ng-show="profile.gender == 'Female'" style="float: left; margin-right: 15px; border: 2px solid black" class="img-circle" alt="Profile image" width="304" height="236">
    <img ng-src="{{ profile.profile_image.location }}" style="float: left; margin-right: 15px; border: 2px solid black" class="img-circle" alt="Profile image" width="100" height="100">


    <h3>
        Meet {{currentUser.name}} <br />
        <small>Joined Roomie <time am-time-ago="profile.created_at" title="{{ profile.created_at | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></time>
        </small>
    </h3>


    <!-- UPLOAD PROFILE PICTURE -->
    <!--<form action="{{'api/User/' + currentUser.id + '/ProfileImage'}}" method="POST" role="form" ng-controller="FileUploadController" enctype="multipart/form-data">-->
        <!--<input type="file" name="photo" file-model="myFile"/>-->
        <!--<button type="submit">Upload me</button>-->
    <!--</form>-->

    <form role="form" ng-controller = "FileUploadController">
        <input type="file" file-model="photo"/>
        <button ng-click="uploadFile()">Upload me</button>
    </form>



    <!-- PERSONAL PROFILE INFORMATION -->
    <div class="panel-group" style="margin-top: 40px">
        <form editable-form name="profileForm" onaftersave="saveMyProfile()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="display: inline-block">Personal Information</h4>

                    <span class="buttons" style="float: right; margin-right: 10px;" ng-show="authenticated && currentUser.id == profile.for_user">
                        <!-- button to show form -->
                        <button type="button" class="btn btn-default" ng-click="profileForm.$show()" ng-show="!profileForm.$visible">
                            <i class="fa fa-pencil fw"></i>
                            Edit
                        </button>
                    </span>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-4">
                            <i class="flaticon-user168"></i>
                            <!-- editable field -->
                            <label for="first_name" class="title">First name: </label>
                            <span id="first_name" editable-text="profile.first_name" ng-show="!profileForm.$visible" e-name="first_name" e-required>{{ profile.first_name || '--unknown--' }}</span>
                        </div>
                        <div class="col-sm-4">
                            <i class="flaticon-college1"></i>
                            <!-- editable field -->
                            <label for="education" class="title">Education: </label>
                            <span id="education" editable-text="profile.education" ng-show="!profileForm.$visible" e-name="education">{{ profile.education || '--unknown--' }}</span>
                        </div>
                        <div class="col-sm-4">
                            <i class="flaticon-home78"></i>
                            <!-- editable field -->
                            <label for="hometown" class="title">Hometown: </label>
                            <span id="hometown" editable-text="profile.hometown" ng-show="!profileForm.$visible" e-name="hometown">{{ profile.hometown || '--unknown--' }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <i class="flaticon-user168"></i>
                            <!-- editable field -->
                            <label for="last_name" class="title">Last name: </label>
                            <span id="last_name" editable-text="profile.last_name" ng-show="!profileForm.$visible" e-name="last_name" e-required>{{ profile.last_name || '--unknown--' }}</span>
                        </div>
                        <div class="col-sm-4">
                            <i class="flaticon-career1"></i>
                            <!-- editable field -->
                            <label for="occupation" class="title">Occupation: </label>
                            <span id="occupation" editable-text="profile.occupation" ng-show="!profileForm.$visible" e-name="occupation">{{ profile.occupation || '--unknown--' }}</span>
                        </div>
                        <div class="col-sm-4">
                            <i class="flaticon-location54"></i>
                            <!-- editable field -->
                            <label for="location" class="title">Location: </label>
                            <span id="location" editable-text="profile.location" ng-show="!profileForm.$visible" e-name="location">{{ profile.location || '--unknown--' }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <i class="flaticon-united8"></i>
                            <!-- editable field -->
                            <label style="margin-left: 3px" for="gender" class="title">Gender: </label>
                            <span id="gender" editable-select="profile.gender" ng-show="!profileForm.$visible" e-name="gender" e-ng-options="s.value as s.text for s in sexes" e-required>{{ showGender(profile) }}</span>
                        </div>
                        <div class="col-sm-4">
                            <i class="flaticon-archive135"></i>
                            <!-- editable field -->
                            <label for="workplace" class="title">Workplace: </label>
                            <span id="workplace" editable-text="profile.workplace" ng-show="!profileForm.$visible" e-name="workplace">{{ profile.workplace || '--unknown--' }}</span>
                        </div>
                        <div class="col-sm-4">
                            <i class="flaticon-heart288"></i>
                            <!-- editable field -->
                            <label for="relationship_status" class="title">Relationship status: </label>
                            <span id="relationship_status" editable-select="profile.relationship_status" ng-show="!profileForm.$visible" e-name="relationship_status" e-ng-options="s.value as s.text for s in statuses" e-required>{{ showStatus(profile) }}</span>
                        </div>
                    </div>

                    <div class="panel-footer" style="margin-top: 20px;">
                        <div class="row">
                            <div class="col-sm-2">More about me!</div>
                            <div id="description" class="col-sm-7">
                                <!-- editable field -->
                                <span editable-textarea="profile.description" e-rows="7" e-cols="40" ng-show="!profileForm.$visible" e-name="description">{{ profile.description || '--unknown--' }}</span>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>

                    <div class="buttons" style="margin-top: 20px;">
                        <!-- buttons to submit / cancel form -->
                            <span ng-show="profileForm.$visible">
                                <button type="submit" class="btn btn-primary" ng-disabled="profileForm.$waiting">
                                    Save
                                </button>
                                <button type="button" class="btn btn-default" ng-disabled="profileForm.$waiting" ng-click="profileForm.$cancel()">
                                    Cancel
                                </button>
                            </span>
                    </div>

                </div>
            </div>
        </form>
    </div>

</div>


<!-- ROOMMATE PROFILE INFORMATION -->
<div class="container" ng-controller="RoommateProfileController">

    <!-- ROOMMATE PROFILE INFORMATION -->
    <div class="panel-group" style="margin-top: 40px">
        <form editable-form name="profileForm" onaftersave="saveMyProfile()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="display: inline-block">Roommate Information</h4>

                    <span class="buttons" style="float: right; margin-right: 10px;" ng-show="authenticated && currentUser.id == profile.for_user">
                        <!-- button to show form -->
                        <button type="button" class="btn btn-default" ng-click="profileForm.$show()" ng-show="!profileForm.$visible">
                            <i class="fa fa-pencil fw"></i>
                            Edit
                        </button>
                    </span>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-4">
                            <i class="flaticon-magnifyingglass29"></i>
                            <!-- editable field -->
                            <label style="margin-left: 3px" for="looking_for" class="title">Looking for: </label>
                            <span id="looking_for" editable-select="profile.looking_for" ng-show="!profileForm.$visible" e-name="looking_for" e-ng-options="g.value as g.text for g in goals" e-required>{{ showGoal(profile) }}</span>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <i class="flaticon-sign20"></i>
                            <!-- editable field -->
                            <label for="lease_length" class="title">Lease length (in months): </label>
                            <span id="lease_length" editable-number="profile.lease_length" ng-show="!profileForm.$visible" e-name="lease_length" e-min="1" e-required>{{ profile.lease_length || '--unknown--' }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <i class="flaticon-money132"></i>
                            <!-- editable field -->
                            <label style="margin-left: 3px" class="title">Monthly budget: </label>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-3">
                            <i class="flaticon-logistics3"></i>
                            <!-- editable field -->
                            <label style="margin-left: 3px" for="move_in_from" class="title">Move in from: </label>
                            <span id="move_in_from" editable-bsdate="profile.move_in_from" e-uib-datepicker-popup="dd/MM/yyyy" ng-show="!profileForm.$visible" e-is-open="datePicker.isOpen" e-min-date="datePicker.minDate" e-required>
                                {{ (profile.move_in_from | date:"dd MMMM yyyy") || 'empty' }}
                            </span>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-default" ng-show="profileForm.$visible" ng-click="openPopUp()">
                                <i class="fa fa-calendar fw"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-2">
                            <label for="monthly_budget_lower_limit" class="title">From: </label>
                            <span id="monthly_budget_lower_limit" editable-text="profile.monthly_budget_lower_limit" ng-show="!profileForm.$visible" e-name="monthly_budget_lower_limit" e-required>{{ profile.monthly_budget_lower_limit || '--unknown--' }}</span>
                        </div>
                        <div class="col-sm-2">
                            <label for="monthly_budget_upper_limit" class="title">To: </label>
                            <span id="monthly_budget_upper_limit" editable-text="profile.monthly_budget_upper_limit" ng-show="!profileForm.$visible" e-name="monthly_budget_upper_limit" e-required>{{ profile.monthly_budget_upper_limit || '--unknown--' }}</span>
                        </div>
                    </div>

                    <div class="panel-footer" style="margin-top: 20px;">
                        <!--<div class="row">-->
                        <!--<div class="col-sm-2">More about my habits!</div>-->
                        <!--</div>-->

                        <div class="row">
                            <div class="col-sm-2"><label>Messy</label></div>
                            <div class="col-sm-2 text-right"><label>Neat</label></div>

                            <div class="col-sm-2"><label>Home all day</label></div>
                            <div class="col-sm-2 text-right"><label>Workaholic</label></div>

                            <div class="col-sm-2"><label>Early to bed</label></div>
                            <div class="col-sm-2 text-right"><label>Never sleep</label></div>
                        </div>

                        <div class="row" >
                            <div class="col-sm-4">
                                <div class="progress" ng-show="!profileForm.$visible" editable-range="profile.cleanliness" e-min="0" e-max="{{maxValue}}" e-step="1">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" ng-style="{width: ( profile.cleanliness / maxValue * 100 + '%' ) }">
                                        <span>{{ profile.cleanliness }} / {{ maxValue }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="progress" ng-show="!profileForm.$visible" editable-range="profile.work_schedule" e-min="0" e-max="{{maxValue}}" e-step="1">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" ng-style="{width: ( profile.work_schedule / maxValue * 100 + '%' ) }">
                                        <span>{{ profile.work_schedule }} / {{ maxValue }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="progress" ng-show="!profileForm.$visible" editable-range="profile.sleep_schedule" e-min="0" e-max="{{maxValue}}" e-step="1">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" ng-style="{width: ( profile.sleep_schedule / maxValue * 100 + '%' ) }">
                                        <span>{{ profile.sleep_schedule }} / {{ maxValue }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-2"><label>Non-smoker</label></div>
                            <div class="col-sm-2 text-right"><label>Addicted</label></div>

                            <div class="col-sm-2"><label>Never drink</label></div>
                            <div class="col-sm-2 text-right"><label>All the time</label></div>

                            <div class="col-sm-2"><label>Eating out</label></div>
                            <div class="col-sm-2 text-right"><label>First class chef</label></div>
                        </div>

                        <div class="row" >
                            <div class="col-sm-4">
                                <div class="progress" ng-show="!profileForm.$visible" editable-range="profile.smoking" e-min="0" e-max="{{maxValue}}" e-step="1">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" ng-style="{width: ( profile.smoking / maxValue * 100 + '%' ) }">
                                        <span>{{ profile.smoking }} / {{ maxValue }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="progress" ng-show="!profileForm.$visible" editable-range="profile.drinking" e-min="0" e-max="{{maxValue}}" e-step="1">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" ng-style="{width: ( profile.drinking / maxValue * 100 + '%' ) }">
                                        <span>{{ profile.drinking }} / {{ maxValue }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="progress" ng-show="!profileForm.$visible" editable-range="profile.eating_habits" e-min="0" e-max="{{maxValue}}" e-step="1">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" ng-style="{width: ( profile.eating_habits / maxValue * 100 + '%' ) }">
                                        <span>{{ profile.eating_habits }} / {{ maxValue }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-2"><label>Very strict</label></div>
                            <div class="col-sm-2 text-right"><label>Share everything</label></div>

                            <div class="col-sm-2"><label>Lone wolf</label></div>
                            <div class="col-sm-2 text-right"><label>Party animal</label></div>

                            <div class="col-sm-2"><label>I hate animals</label></div>
                            <div class="col-sm-2 text-right"><label>Animal person</label></div>
                        </div>

                        <div class="row" >
                            <div class="col-sm-4">
                                <div class="progress" ng-show="!profileForm.$visible" editable-range="profile.privacy" e-min="0" e-max="{{maxValue}}" e-step="1">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" ng-style="{width: ( profile.privacy / maxValue * 100 + '%' ) }">
                                        <span>{{ profile.privacy }} / {{ maxValue }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="progress" ng-show="!profileForm.$visible" editable-range="profile.guests" e-min="0" e-max="{{maxValue}}" e-step="1">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" ng-style="{width: ( profile.guests / maxValue * 100 + '%' ) }">
                                        <span>{{ profile.guests }} / {{ maxValue }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="progress" ng-show="!profileForm.$visible" editable-range="profile.pets" e-min="0" e-max="{{maxValue}}" e-step="1">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                                         aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" ng-style="{width: ( profile.pets / maxValue * 100 + '%' ) }">
                                        <span>{{ profile.pets }} / {{ maxValue }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12"><br /></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2">
                                <i class="flaticon-golf22"></i>
                                <label for="hobbies" class="title">Hobbies:</label>
                            </div>

                            <div class="col-sm-4"></div>
                            <div class="col-sm-2">
                                <i class="flaticon-weightlifting4"></i>
                                <label for="exercise" class="title">Exercise:</label>
                            </div>

                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-4">
                                <!-- editable field -->
                                <span id="hobbies" editable-textarea="profile.hobbies" e-rows="3" e-cols="50" ng-show="!profileForm.$visible" e-name="hobbies">{{ profile.hobbies || '--unknown--' }}</span>
                            </div>

                            <div class="col-sm-2"></div>
                            <div class="col-sm-4">
                                <!-- editable field -->
                                <span id="exercise" editable-textarea="profile.exercise" e-rows="3" e-cols="50" ng-show="!profileForm.$visible" e-name="exercise">{{ profile.exercise || '--unknown--' }}</span>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                    </div>

                    <div class="buttons" style="margin-top: 20px;">
                        <!-- buttons to submit / cancel form -->
                            <span ng-show="profileForm.$visible">
                                <button type="submit" class="btn btn-primary" ng-disabled="profileForm.$waiting">
                                    Save
                                </button>
                                <button type="button" class="btn btn-default" ng-disabled="profileForm.$waiting" ng-click="profileForm.$cancel()">
                                    Cancel
                                </button>
                            </span>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>